# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
/*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# Ignore sqlite database files
*.db

# Ignore some folders
/Diverse
/2.KPI_plots
/1.KPIDB_onhold
/3.Reports
/4.GUI
/Script/data_files
/Script/output

# Ignore python cache
__pycache__

# Ignore package script template file
/Script/quince_kpi/template.py
