<!DOCTYPE html>
<html>
<body>

<h1>Data Quality Report for {{station}} - {{df_start}} to {{df_end}}</h1>


<h2>Introduction<h2>

<p>The first paragraph.</p>
<p>The second paragraph.</p>


<figure>
	<img src={{ kpi_plot_data_filename}} >
	<figcaption> Figure 1: This is the figure caption.
	</figcaption>
</figure>


</body>
</html>