<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href='..\templates\style.css' type="text/css">
</head>
<body>

  {#-------------------------------------------------------------------------#}
  <!-- REPORT TITLE -->
  <h1>Data Quality Report</h1>
  <h2> For ICOS station <i>{{inst_name_full}}</i> - {{df_start}} to {{df_end}}</h2>

  {#-------------------------------------------------------------------------#}
  <!-- INTRODUCTION SECTION -->
  <h3>1.&emsp;Introduction</h3>

    <!-- Introduction text (depends on the report type) -->
    {% if report_type == 'HO' %}
      {% set intro_text_filename = 'intro_text/intro_text_HO.html' %}
    {% elif report_type == 'PI' %}
      {% set intro_text_filename = 'intro_text/intro_text_PI.html' %}
    {% endif %}
    {% include intro_text_filename %}

    <!-- Text about each figure in this section -->
    <p>
      {% for kpi_name, config in intro_section_config['kpi_figures'].items() %}
        Figure {{config['number']}} shows
        {% set text = 'kpi_descriptions/' + kpi_name + '_text.html' %}
        {% include text %}
      {% endfor %}

    <!-- Text about each table in this section -->
      {% for kpi_name, config in intro_section_config['kpi_tables'].items() %}
        Table {{config['number']}} shows
        {% set text = 'kpi_descriptions/' + kpi_name + '_text.html' %}
        {% include text %}
      {% endfor %}
    </p>

    <!-- Figures with captions -->
    {% for kpi_name, config in intro_section_config['kpi_figures'].items() %}
      <figure>
        {% set filename = config['filename'] %}
        <img src={{filename}} >
        <figcaption><strong>Figure {{config['number']}}</strong>:
          {% set caption = 'kpi_descriptions/' + kpi_name + '_caption.html' %}
          {% include caption %}
        </figcaption>
      </figure>
    {% endfor %}

    <!-- Tables with captions -->
    {% for kpi_name, kpi_dict in intro_section_config['kpi_tables'].items() %}
      <table>
        <caption><strong>Table {{kpi_dict['number']}}</strong>:
          {% set caption = 'kpi_descriptions/' + kpi_name + '_caption.html' %}
          {% include caption %}
        </caption>
        {% for row_number, row_dict in intro_tables[kpi_dict['number']].items() %}
            <tr>
              {% if loop.first == 1 %}
                {% for col_key in row_dict.keys() %}
                  <th id='center'> {{ col_key }} </th>
                {% endfor %}
              {% else %}
                {% for col_value in row_dict.values() %}
                  <td id='center'> {{ col_value }} </td>
                {% endfor %}
              {% endif %}
            </tr>
        {% endfor %}
      </table>
    {% endfor %}

  {#-------------------------------------------------------------------------#}
  <!--  MEASURED VALUES SECTION -->
  <h3>2.&emsp;Measured values</h3>

  {% for sensor_name, sensor_config in meas_section_config.items() %}

    <!-- Subsection number and title -->
    <h4> 2.{{loop.index}}&emsp;{{sensor_config['subsection_title']}} </h4>

    <!-- If report is for HO: Description about the sensor -->
    {% if report_type == 'HO' %}
      <p>
        {% set description =
          'param_descriptions/'+ sensor_name + '.html' %}
        {% include description %}
      </p>
    {% endif %}

    <!-- Text about each figure in this section -->
    <p>
      {% for kpi_name in new_kpi_config['meas_figures'] %}
        Figure 2.{{loop.index}} shows
        {% set text = 'kpi_descriptions/' + kpi_name + '_text.html' %}
        {% include text %}
      {% endfor %}

    <!-- Text about each table in this section -->
      {% for kpi_name in new_kpi_config['meas_tables'] %}
        Table 2.{{loop.index}} shows
        {% set text = 'kpi_descriptions/' + kpi_name + '_text.html' %}
        {% include text %}
      {% endfor %}
    </p>

    <!-- Create and include figures with captions -->
    {% for kpi_name in new_kpi_config['meas_figures'] %}
      <!-- Create the figures (as comment to avoid 'None' in report)
        {{ kpi.eval_meas_fig_function(kpi_name=kpi_name, sensor=sensor_name, meas_section_config=meas_section_config, df=df, output_dir=output_dir) }} -->
      <figure>
        {% set filename = sensor_name + '_' + kpi_name + '.png' %}
        <img src={{filename}} >
        <figcaption><strong>Figure 2.{{loop.index}}</strong>:
          {% set caption = 'kpi_descriptions/' + kpi_name + '_caption.html' %}
          {% include caption %}
          {{sensor_config['fig_label_name_html']}}.
        </figcaption>
      </figure>
    {% endfor %}

  <!-- Create and include tables with captions -->
    {% for kpi_name in new_kpi_config['meas_tables'] %}
      {% set table_dict = kpi.eval_meas_tab_function(kpi_name=kpi_name, sensor=sensor_name, meas_section_config=meas_section_config, df=df) %}
      <table>
        <caption><strong>Table 2.{{loop.index}}</strong>:
            {% set caption = 'kpi_descriptions/' + kpi_name + '_caption.html' %}
            {% include caption %}
            {{sensor_config['fig_label_name_html']}}.
        </caption>
        {% for row_number, row_dict in table_dict.items() %}
            <tr>
              {% if loop.first %}
                {% for col_key in row_dict.keys() %}
                  <th id='center'> {{ col_key }} </th>
                {% endfor %}
              {% else %}
                {% for col_value in row_dict.values() %}
                  <td id='center'> {{ col_value }} </td>
                {% endfor %}
            </tr>
          {% endif %}
        {% endfor %}
      </table>

    {% endfor %}

  {% endfor %}

  {#-------------------------------------------------------------------------#}
  <!-- CALCULATED VALUES SECTION -->

  {% if calc_section_config != {} %}
    <h3>3.&emsp;Calculated values</h3>
    {% for calc_value, config in calc_section_config.items() %}

      <!-- Add section title with numbering -->
      <h4> 3.{{loop.index}}&emsp;{{config['chapter_title']}} </h4>

      <!-- !!! Same content as for measured values. Somehow create loop?-->

    {% endfor %}
  {% endif %}

  {#-------------------------------------------------------------------------#}
  <!-- PROP-PROP SECTION -->
  <h3>4.&emsp;Property-property plots</h3>

  {#-------------------------------------------------------------------------#}
  <!-- DIAGNOSTICS SECTION -->
  <h3>5.&emsp;Diagnostics</h3>

  <!-- !! On hold until KPI scripts communicate directly with QuinCe, and until
  the diagnostic data also has got QC flags from QuinCe -->

</body>
</html>