<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href='..\templates\style.css' type="text/css">
</head>
<body>

  <h1>Data Quality Report</h1>
  <h2> For ICOS station <i>{{station}}</i> - {{df_start}} to {{df_end}}</h2>

  <!-- INTRODUCTION CHAPTER -->
  <h3>1.  Introduction</h3>
    <p>This is a quality assesment of dataset '{{data_filename}}'. Data was
      collected on ICOS station <i>{{station}}</i> between {{df_start}} and
      {{df_end}}. Processing and automatic QC performed in QuinCe. See figures
       for a quick overview of the data and the data quality.</p>

    {% for kpi_name, config in intro_config.items() %}
      <figure>
        <img src={{config['filename']}} >
        <figcaption><strong>Figure {{config['fignumber']}}</strong>:
          {{figcaptions[kpi_name]}} </figcaption>
      </figure>
    {% endfor %}


    <p> The following sections look closer into the quality of the
      parameters... </p>


  <!-- PARAMETER CHAPTERS -->
  {% for parameter, config in param_config.items() %}
    <h3> {{loop.index + 1}}.  {{config['chapter_title']}} </h3>
    <p>Some text about this parameter. See figures</p>

    {% for kpi_name, kpi_dict in config['kpis'].items() %}
        <figure>
          <img src={{kpi_dict['filename']}} >
          <figcaption><strong>Figure {{kpi_dict['fignumber']}}</strong>:
            {{figcaptions[kpi_name]}}
          </figcaption>
        </figure>
    {% endfor %}

  {% endfor %}


  <!-- ALTERNATIVE: Extract from child template, but this does not work!
  <div id="line_plot">
    {% block line_plot %}{% endblock %}
  </div>

  <div id="line_plot_cleaned">
    {% block line_plot_cleaned %}{% endblock %}
  </div>

  <div id="bar_plot">
    {% block bar_plot %}{% endblock %}
  </div>
  -->

</body>
</html>