<!-- This is a child template containing the line plot section of the report -->
<!-- !!! Not incorporated into the base template yet, does not work !!! -->
{% extends "base.html.jinja" %}


{% block line_plot %}
  <figure>
  	<img src={{ kpi_line_plot_filename}} >
  	<figcaption> Figure 1: This is the figure caption.</figcaption>
  </figure>
{% endblock %}


{% block line_plot_cleaned %}
    <h2> Plot of data </p>

    <figure>
      <img src={{ kpi_line_plot_cleaned_filename}} >
      <figcaption> Figure 1: This is the figure caption.
      </figcaption>
    </figure>
{% endblock %}


{% block bar_plot %}
    <h2> Flag frequency per parameter </p>

    <figure>
      <img src={{ kpi_bar_plot_filename}} >
      <figcaption> Figure 1: This is the figure caption.
      </figcaption>
    </figure>
{% endblock %}


<!---------------------------------------------------------------------
IN MAIN TEMPLATE:
  <!-- ALTERNATIVE: Extract from child template, but this does not work!-->
  <div id="line_plot">
    {% block line_plot %}{% endblock %}
  </div>

  <div id="line_plot_cleaned">
    {% block line_plot_cleaned %}{% endblock %}
  </div>

  <div id="bar_plot">
    {% block bar_plot %}{% endblock %}
  </div>
  -->