{# Description about one parameter #}
{% macro param_text(report_type, param_name) %}
  {% if report_type == 'HO' %}
    {% set param_text_filename = 'param_descriptions/' + param_name + '.html' %}
    {% include param_text_filename %}
  {% endif %}
{% endmacro %}

{# Description of all figures and tables inside one (sub-)section #}
{% macro visuals_text(kpi_list, section_number, subsection_number, figure) %}
  {% for kpi_name in kpi_list %}
    {% if figure %}
      Figure
    {% else %}
      Table
    {% endif %}
    {% if subsection_number %}
      {{section_number}}.{{subsection_number}}.{{loop.index}}
    {% else %}
      {{section_number}}.{{loop.index}}
    {% endif %}
    {% set text = 'kpi_descriptions/' + kpi_name + '_text.html' %}
    {% include text %}
  {% endfor %}
{% endmacro %}

{# Figure #}
{% macro figure(kpi_name, filename, figure_number, sensor_label) %}
  <figure>
    <img src={{filename}} >
    <figcaption><strong>Figure {{figure_number}}</strong>:
      {% set caption = 'kpi_descriptions/' + kpi_name + '_caption.html' %}
      {% include caption %}
      {% if sensor_label %}
        {{sensor_label}}.
      {% endif %}
    </figcaption>
  </figure>
{% endmacro %}

{# Table #}
{% macro table(kpi_name, table_list, table_number, sensor_label) %}
  <table>
    <caption><strong>Table {{table_number}}</strong>:
      {% set caption = 'kpi_descriptions/' + kpi_name + '_caption.html' %}
      {% include caption %}
      {% if sensor_label %}
        {{sensor_label}}.
      {% endif %}
    </caption>
    {% for row_dict in table_list %}
      {% if loop.first %}
        <tr>
          {% for header in row_dict.keys() %}
            <th> {{header}} </th>
          {% endfor %}
        </tr>
      {% endif %}
      <tr>
        {% for value in row_dict.values() %}
          <td> {{ value }} </td>
        {% endfor %}
      </tr>
    {% endfor %}
  </table>
{% endmacro %}