p {
	font-family: Calibri;
	font-size: 12;
}

h1 {
	font-family: Calibri;
	font-size: 40;
	text-align: center;
	text-transform: uppercase;
}

h2 {
	font-family: Calibri;
	font-size: 30;
	text-align: center;
}

h3 {
	font-family: Calibri;
	font-size: 24;
	margin-left: 40px;
	margin-top:75px;
	color: #26428b;
	font-style: bold;
	text-transform: capitalize;
}

h4 {
	font-family: Calibri;
	font-size: 18;
	margin-top:40px;
	margin-left: 40px;
	color: black;
	font-style: bold;
}

h5 {
	font-family: Calibri;
	font-size: 12;
	color: black;
	font-style: bold;
}

ul {
	font-family: Calibri;
	font-size: 11;
}

figure, table {
	margin: 50px 0px 50px 0px;
	page-break-inside: avoid;
}

figure{
	display: table;
	width: 1px;
}

figcaption {
    font-family: Calibri;
	font-size: 8;
}

table {
	font-family: Calibri;
	font-size: 10;
	border-collapse: collapse;
	width: 60%;
}

table, th, td {
	border: 1px solid black;
}

th, td, tr {
  padding: 8px;
}

caption {
	text-align: left;
	font-size: 8;
}

#center {
	text-align: center;
}