<p>
  This is a quality assessment of data collected on ICOS station
  <i>{{inst_config['inst_name_full']}}</i> between {{data_config['df_start']}}
  and {{data_config['df_end']}}. Data processing and automatic QC were
  performed in <i>QuinCe</i> - an online tool for data reduction and quality
  control of surface ocean <i>f</i>CO<sub>2</sub> data. The report is based on
  the {{data_config['data_level']}} data*, and the data filename(s) as
  exported from QuinCe are '{{data_config['data_filename']}}'.
</p>

<p>
  The station is described in section x (if HO!). Section x gives an overview
  of the quality of these parameters, while section x and x looks closer into
  the quality of each parameter. Section x contains propery-propery plots, and
  section x contains diagnostics plots.
</p>