<p>
  The cargo ship Nuka Arctica is a Ship of Opportunity (SOOP) run by the Royal
  Arctic Line A/S, Denmark. The station began measuring sea surface
  pCO<sub>2</sub> 20th January, 2004, and University of Bergen, Norway, is the
  responsible institution for this effort, with Dr. Meike Becker and Prof. Are
  Olsen as PIs. Nuka Arctica regularly transports cargo between Aalborg,
  Denmark and Nuke, Greenland, stopping occasionally at, or passing South of
  Iceland. The route Aalborg-Nuke-Aalborg takes approximately 3 weeks. The
  station's geographical region includes the North Sea, northern North
  Atlantic, and Greenland's west coast. In addition to sea surface
  pCO<sub>2</sub>, the station measures sea surface temperature and salinity,
  dissolved oxygen, and atmospheric CO<sub>2</sub>.
</p>